@import url(./styles/generic.css);
@import url(./styles/header.css);
@import url(./styles/navigation.css);
@import url(./styles/modal.css);
@import url(./styles/article.css);
@import url(./styles/basket.css);

.roundedImg {
    background-color: #f5f3f1;
    border-radius: 100%;
    height: var(--iconBtnSize); 
    width: var(--iconBtnSize);
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-right: var(--iconPadding);
}

.roundedImg:last-child {
    margin-right: 0px;
}

.roundedImg img{
    height: var(--iconBtnImage);
    width: var(--iconBtnImage);
}

.roundedImgSmall {
    background-color: #f5f3f1;
    border-radius: 100%;
    height: var(--iconBtnSizeSmall); 
    width: var(--iconBtnSizeSmall);
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-right: var(--iconPadding);
}

.roundedImgSmall img{
    height: var(--iconBtnImageSmall);
    width: var(--iconBtnImageSmall);
}

.dflexcol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 16px;
}

.dflexevenly {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    font-size: 16pt;
    margin-right: var(--modalPadding-m);

}

.disFlex {
    display: flex;
}

.dflexbetween {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.marginSide {
    margin: 0px 16px;
    font-size: larger;
    font-style: bold;
}

.smallIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.smallIcon img {
    height: 24px;
}

.noRightMargin {
    margin-right: 0px;
}

/**
START Impressum / Footer
**/

.marginImpressum {
    margin-top: 32px;
    margin-bottom: 16px;
}

.impressum-Footer {
    line-height: 24px;
}

.highlightedFont {
    font-weight: bolder;
}

.artCommentSection {
    margin-top: 24px;
}

.artCommentSectionWithValue {
    margin-top: 24px;
    text-align: left;
}

.artCommentSaveLinks {
    display: flex;
    justify-content: right;
}

.saveLinks {
    text-decoration: underline;
    color: lightskyblue;
    cursor: pointer;
}
.saveLinks:last-child{
    margin-left: 8px;
}

#arrowRight {
    margin-right: 0px;
}

footer{
    background-color: #efedea;
    padding: 16px 32px;
    text-align: center;
}

.Footerlink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.linkFooterLine {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8px;

}

/**
END Impressum / Footer
**/

.sticky-button {
    position: fixed;
    bottom: 20px;
    z-index: 1000; /* Damit der Button über anderen Inhalten liegt */
    cursor: pointer;
    display: none;
    width: 80% !important;
}

/**
Start Media Queries
**/

@media only screen and (max-width: 1300px) {
    .main {
        display: block;
    }

    .sticky-button {
        display: block;
    }

    .basket {
        height: auto;
        width: 960px;
        margin: auto;
    }
}

@media only screen and (max-width: 960px) {
    .basket {
        width: auto;
    }

    .maxWidth {
        margin: auto;
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .linkFooterLine {
        display: flex;
        flex-direction: column;
    }

    #offerList {
        flex-direction: column;
    }

    .offer {
        margin-bottom: 16px;
    }

    .dialog {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        position: fixed;
    }

    #offerlist {
        flex-direction: column;
    }


}

/**
END Media Queries
**/








